.exercises-pagination{
    margin-top:50px;
}

.exercises-pagination > .page-item > .page-link{
    color: white;
    background-color: #1d1d1d00;
    border-color: #ffffff3b;
}

.exercises-pagination > .page-item > .page-link:hover{
    background-color: #ffffff16;
}

.exercises-pagination > .page-item > .page-link > a{
    color: white;
    text-decoration: none;
}