.footer{
    background-color: #121416;
    color:#898e96;
    margin-top: 100px; 
    padding-bottom: 5px;
    height: 100px;           
    padding: 30px;
    height: fit-content;
}

.footer-items{
    justify-content: space-between;
    align-items: center;
}

.footer-menu{
    max-width: fit-content;
    display:flex;
    flex-direction: column;
}

.footer-menu > a{
    color:#898e96;
    text-decoration: none;
}
